:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0px;
  padding: 0px;
}
.icons-svg{
  width: 24px;
}
.input-field{
  border-radius: 10px;
  border: 2px solid white;
  width: 400px;
  padding:5px;
  background-color: transparent;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-room-btn{
  border-radius:20px;
  background-color:rgb(0, 135, 0) ;
  border: none;
  margin: 5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 5px;
  font-size: 0.9rem;
}
img{
  width: 40px;
}


